.loadingnum{
    font-size: 3rem;
    margin: auto;
    display: grid;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 1.5rem;
    padding: 4vh 4vw;
    background-color: rgb(35, 54, 87);
}
.lines{
  font-family: 'General Sans', sans-serif;
  font-size: 4rem;
  padding: 0px;
  text-align: left;
  margin-bottom: 3rem;
  padding-left: 6rem;
  padding-top: 7.9rem;
}
.para{
    margin-top: 3rem;
    text-align: right;
}
.loadingbar{
 background-color: rgb(254, 247, 247);
 height: 0.5rem;
}
.outer-container4{
  display: flex;
  justify-content: center;
  background: rgb(24, 36, 56);
  height: 100vh;
  width: 100vw;
}
