.outer-container{
    display: flex;
    justify-content: center;
    background: rgb(24, 36, 56);
    height: 100vh;
    width: 100vw;
}

.container{
    margin: auto;
    width: 1000px;
    height: 625px;
    display: grid;
    grid-template-columns: 50% 50% ;  
}

.log{
    margin-left: 4.3rem;
    margin-top: 60px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

h1 {
    margin-top: 120px;
    text-align: center;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.username,.password{
    width: 320px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 7.7rem; 
}

.LogIn{
    border: none;
    color: #fff;
    background-color: #007bff;
    width: 180px;
    margin-left: 4.7rem;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.LogIn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 91, 204, 0.5);
    transform: translateY(-2px);
}

.left{
    background-image: url("../DALL·E\ 2024-10-05\ 20.16.47\ -\ A\ modern\,\ dynamic\ logo\ for\ a\ secure\ messaging\ and\ document\ storage\ application.\ The\ design\ should\ be\ more\ intricate\,\ incorporating\ a\ high-tech\ lock\ sy.webp");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    position: relative;
}

.right{
  background-image:linear-gradient( rgba(47,61,84,255),rgba(39,95,195,255));
  background-size: cover;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.input-container {
    display: grid;
}

.password-container {
    display: grid;
}

.eye-icon {
    position: absolute;
    cursor: pointer;
    margin-top: 0.8rem;
    margin-left: -2rem;
}

.icon, .icon1 {
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 1rem;
}

.username:hover, .password:hover {
    border-color: #007bff;
    transition: 0.3s ease-in-out;
}

/* Add a focus effect for better user experience */
.username:focus, .password:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}