.nav{
    display: flex;
    flex-direction: row;
    gap: 70rem;
    padding-top: 2rem;
}
.nav2{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.heading{
    color: #eadfa1;
    font-size: 2rem;
    font-weight: 600;
}

.heading b {
    font-weight: 900;
}


.login{
    font-size: 2rem;
    color: azure;
}
.login:hover{
    cursor: pointer;
}
.signup{
    font-size: 2rem;
    color: azure;
}
.signup:hover{
    cursor:pointer;
}